# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment files (JANGAN commit ke image!)
.env
.env.*
!.env.example

# Git & CI
.git
.gitignore
.github

# Editor & OS
.vscode
.idea
*.DS_Store
Thumbs.db

# Docs & logs
*.md
*.log
logs/

# Test files
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
